@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background-color: white;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 350%;
  color: coral;
}

h2.infoText {
  color: coral;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 100%;
  background-color: white;
  color: grey;
  max-width: 960px;
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

button.signin-button {
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 50px;
  outline: none;
  margin: 0 auto;
  width: 270px;
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.google-login-button {
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 50px;
  outline: none;
  max-width: 960px;
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  width: 270px;
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

input.signin-input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.1rem;
  background: white;
  color: lightgrey;
  outline: none;
  border: 1px solid red;
  padding: 5px;
  margin: 10px;
  border-radius: 50px;
  text-align: center;
  width: 250px;
  padding: 0.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #282c34; /* Green */
  border: 3px solid white;
  color: white;
  padding: 6px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.row {
  flex-direction: row !important;
}
.row>* {
  margin: 5px;
}
.swipe {
  position: absolute;
  display: flex;
}
.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
  margin: 30px;
}
.card {
  width: 80vw;
  max-width: 260px;
  height: 300px;
  border: 2px solid red;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}
.swipe:last-of-type {
}
.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}
.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}
/* .buttons {
  margin: 20px;
  display: flex;
} */
/* .buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
} */
/* .buttons button:hover {
  transform: scale(1.05);
} */
@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

/* =============== SwipeCard=============== */

.container-swipecard, .container-signin {
  justify-items: center;
  justify-content: center;
  display: grid;
}

.left-button, .right-button {
  margin: 10px;
  margin-top: 40px;
}

.left-button {
  background: red;
  border: 3px solid red;
  border-radius: 20px;
}

.right-button {
  background: green;
  border: 3px solid green;
  border-radius: 20px;
}
