@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background: white;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 350%;
  color: #f02f17;
}

.profileNameUser{
    font-family: 'Lobster', cursive;
    font-size: 150%;
    color: #f02f17;
    margin-top: -15px;
}

h2.infoText {
  color: #f02f17;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

button {
  background-color: #282c34; /* Green */
  border: 3px solid white;
  color: white;
  padding: 6px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.biggerProfilePic {
  max-width: 350px;
  max-height: 350px;
}

.editProfile {
  text-align: center;
}

.profilePic {
  margin-top: 5em;
}

.profileUsername {
  font-family: 'Lobster', cursive;
  font-size: 250%;
  color: black;
}

ul, li {
  text-align: left;
  list-style: none;
}

main {
  padding: 10px;
  height: 80vh;
  flex-direction: column;
}

p {
  font-family: sans-serif;
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

.swipe {
  position: absolute;
  display: flex;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
  margin: 30px;
}

.card {
  width: 80vw;
  max-width: 260px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex
}

.profileButtons {
  display: inline
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

/* .buttons {
  margin: 20px;
  display: flex;
} */
/* .buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
} */
/* .buttons button:hover {
  transform: scale(1.05);
} */
@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

/* =============== SwipeCard =============== */

.container-swipecard, .container-signin, h1 {
  justify-items: center;
  justify-content: center;
  display: grid;
}

.left-button, .right-button {
  margin: 10px;
  margin-top: 40px;
}

.left-button {
  background: red;
  border: 3px solid red;
  border-radius: 20px;
}

.right-button {
  background: green;
  border: 3px solid green;
  border-radius: 20px;
}

/* =============== Signin =============== */

div.container-signin {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

form {
  height: 100%;
  background-color: white;
  color: grey;
  max-width: 960px;
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

button.signin-button {
  background: -moz-linear-gradient(left,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 50px;
  outline: none;
  margin: 0 auto;
  width: 270px;
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.google-login-button {
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 50px;
  outline: none;
  max-width: 960px;
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  width: 260px;
  padding: 0.9em;
  margin-top: 10px;
  margin-bottom: 10px;
}

input.signin-input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.1rem;
  background: white;
  color: lightgrey;
  outline: none;
  border: 1px solid red;
  padding: 5px;
  margin: 10px;
  border-radius: 50px;
  text-align: center;
  width: 250px;
  padding: 0.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* =============== Message =============== */

.container-message {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

main.chatroom {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  height: 84vh;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 20px lightgrey;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  background: linear-gradient(to right, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
  color: white;
  text-align: right;
}

.received p {
  background: #e5e5ea;
  color: black;
  text-align: left;
}

img.chat-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 8px 8px;
}

.chat-form {
  display: flex;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 20px lightgrey;
}

.chat-input {
  width: 850px;
  margin-right: 20px;
  padding: 15px;
  outline: none;
  border: none;
  font-size: larger;
}

button.chat-submit-button {
  background: linear-gradient(to right, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  width: 170px;
  border-radius: 50px;
  border: 1.1px;
}

h2.chat-tab-username {
  margin-bottom: 0;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  font-size: xx-large;
  color: white;
  font-weight: 500;
}

.chat-tab {
  max-width: 960px;
  margin: 0 auto;
  background: red;
  box-shadow: 0px 0px 20px lightgrey;
}
