@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background: linear-gradient(to right, #5c258d, #4389a2);
  margin: 0 auto;
}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 350%;
  color: #f02f17;
}

.profileNameUser{
    font-family: 'Lobster', cursive;
    font-size: 150%;
    color: #f02f17;
    margin-top: -15px;
}

h2.infoText {
  color: #f02f17;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

button {
  padding: 6px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.biggerProfilePic {
  max-width: 350px;
  max-height: 350px;
}

.editProfile {
  text-align: center;
}

.editInput {
  height: 50px;
  width: 350px;
  font-size: 100%;
  margin-bottom: 30px;
}

.inputDiv {
  margin-top: 30px;
}

.profilePic {
  margin-top: 5em;
}

.profileUsername {
  font-family: 'Lobster', cursive;
  font-size: 250%;
  color: black;
}

ul, li {
  text-align: left;
  list-style: none;
}

main {
  padding: 10px;
  height: 80vh;
  flex-direction: column;
}

p {
  font-family: sans-serif;
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.profileButtons {
  border-radius: 15px;
}

.swipe:last-of-type {
}

strong {
  padding-bottom: 0.5em;
}


.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

/* .buttons {
  margin: 20px;
  display: flex;
} */
/* .buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
} */

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

form {
  height: 100%;
  background-color: white;
  color: grey;
  max-width: 960px;
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

/* =============== SwipeCard =============== */

.container-swipecard {
  justify-items: center;
  justify-content: center;
  display: grid;
  max-width: 960px;
  background-color: white;
  align-items: center;
  box-shadow: 0px 0px 20px #795548;
  height: 83.5vh;
}

.fetchmate {
  margin-top: 0;
  justify-items: center;
  justify-content: center;
  display: grid;
  max-width: 960px;
  color: white;
}

.swipe-tab {
  max-width: 960px;
  height: 15vh;
  margin: 0 auto;
  background: linear-gradient(to right, #f2709c 0%,#f2709c 45%,#ff9472 100%);
  box-shadow: 0px 0px 30px #795548;
  padding-bottom: 0px;
  padding-top: 0px;
}

.left-button, .right-button {
  margin-left: auto;
}

.left-button {
  background: white;
  border: 3px solid red;
  border-radius: 60px;
  outline: none;
  color: red;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-right: 20px;
}

.right-button {
  background: white;
  border: 3px solid green;
  border-radius: 60px;
  outline: none;
  color: green;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-left: 20px;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
  font-size: 25px;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

.swipe {
  position: absolute;
  display: flex;
}

.cardContainer {
  width: 480px;
  height: 550px;
}

.card {
  width: 480px;
  height: 550px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: grid;
  box-shadow: 0px 0px 10px #795548;
  margin-top: 100px;
}

/* =============== Signin =============== */

.container-signin {
  justify-items: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  background-color: white;
  height: 100vh;
  box-shadow: 0px 0px 20px #795548;
}

form.signin {
  height: 160px;
}

h1.signin-fetchmate {
  margin-top: 100%;
  font-size: 550%;
  text-shadow: 2px 5px 5px lightgrey;
  color: #ec2d6e;
}

button.signin-button, button.google-login-button, button.signup-button {
  background-color: white;
  color: #743ad5;
  border: 1px solid #743ad5;
  border-radius: 50px;
  outline: none;
  margin: 0 auto;
  width: 270px;
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.signin-button:hover, button.google-login-button:hover {
  transition: 0.3s;
  background: linear-gradient(to left, #743ad5, #d53a9d);
  border-radius: 50px;
  outline: none;
  color: white;
  border: none;
}

button.signup-button {
  background: linear-gradient(to left, #743ad5, #d53a9d);
  border-radius: 50px;
  outline: none;
  color: white;
  border: none;
}

a.navlink-signup {
  color: white;
}



input.signin-input {
  line-height: 1.5;
  font-size: 1.1rem;
  background: white;
  color: lightgrey;
  outline: none;
  border: 1px solid grey;
  margin: 10px;
  border-radius: 50px;
  text-align: center;
  width: 250px;
  padding: 0.5em;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* =============== Message =============== */

.container-message {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

main.chatroom {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  height: 73vh;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 20px #795548;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  background: linear-gradient(to left, #743ad5, #d53a9d);
  color: white;
  text-align: right;
}

.received p {
  background: #e5e5ea;
  color: black;
  text-align: left;
}

img.chat-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 8px 8px;
}

.chat-form {
  display: flex;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 20px #795548;;
}

.chat-input {
  width: 850px;
  margin-right: 20px;
  padding: 15px;
  outline: none;
  border: none;
  font-size: larger;
}

button.chat-submit-button {
  background: linear-gradient(to right, #f2709c 0%,#f2709c 45%,#ff9472 100%);
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  width: 170px;
  border-radius: 50px;
  border: 1.1px;
}

h2.chat-tab-username {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  font-size: 250%;
  color: white;
  font-weight: 500;
}

.chat-tab {
  max-width: 960px;
  height: 15vh;
  margin: 0 auto;
  background: linear-gradient(to right, #f2709c 0%,#f2709c 45%,#ff9472 100%);
  box-shadow: 0px 0px 30px #795548;;
}

.nav-swipe, .nav-chat {
  margin-left: 712px;
}

.nav-profile, .nav-swipe, .nav-chat {
  background: white;
  border: none;
  padding: 20px;
  border-radius: 50px;
  outline: none;
}

a.navlink {
  color: red;
}

.nav {
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 30px;
  padding-bottom: 0;
}

/* =============== Profile =============== */

.App {
  text-align: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  height: 100vh;
  box-shadow: 0px 0px 20px #795548;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}
